[submodule "src/libs/external/busted"]
	path = src/libs/external/busted
	url = https://github.com/Olivine-Labs/busted.git
[submodule "src/libs/external/cliargs"]
	path = src/libs/external/cliargs
	url = https://github.com/amireh/lua_cliargs.git
